body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    color: white;
}
h5{
    color: #9c9c98;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #e0dfd4;
}
hr{
    width: 600px;
    margin-bottom: 25px;
}
.container{
    margin-bottom: 80px;
    text-align: center;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
}
.banner-area{
    padding: 80px 0;
}
.banner-area p{
    margin-bottom: 30px;
}
.donate-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}
.donate-title{
    color: black;
}
.donate-para{
    font-size: 14px;
    color: #9c9c98;
}
.donate-amount ul{
    display: flex;
    list-style: none;
    margin-left: 340px;
    margin-top: 30px;
}
.amount-list{
    padding: 25px 20px;
    font-size: 22px;
    font-weight: 700;
    color: #9c9c98;
}
#amount-select{
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: #f1dfdc;
    color: tomato;
}
.donate-plan-title{
    color: black;
}
.donate-plan-para{
    color: #9c9c98;
    font-size: 14px;
}
.flexible-container{
    display: flex;
    width: 100%;
    margin-top: 25px;
}
.half-width{
    width: 25%;
    border-radius: 5px;
    margin-left: 1%;
    padding: 25px 20px 25px 15px;
}
.half-width img{
    margin-right: 255px;
}
.half-width h3{
    text-align: left;
}
.half-width p{
    text-align: left;
    color: #9c9c98;
    font-size: 14px;
}
#donate-plan-one{
    margin-left: 90px;
    background-color: #e1f5f8;
}
#donate-plan-two{
    background-color: #e7dedd;
}
#donate-plan-three{
    background-color: #ebe7cb;
}
.from-title{
    color: black;
}
.from-para{
    color: #9c9c98;
    font-size: 14px;
}
.from-submit{
    width: 500px;
    margin-top: 25px;
    padding: 45px 0;
    background-color: #f0efd0;
    margin-left: 390px;
}
.from-submit input{
    padding: 8px 10px;
    position: relative;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.from-submit button{
    position: absolute;
    margin-left: -5px;
    padding: 6px 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px 0;
}
footer h2{
    color: tomato;
    font-style: italic;
}
footer p{
    font-size: 12px;
}